<div *ngIf="!(user$ | async)">
  <div class="row">
    <div class="col-md-4">
      <form (ngSubmit)="logInUser()" ngNativeValidate>
        <ul class="users">
          <li class="user-item" *ngFor="let user of users; let idx = index">
            <input
              type="radio"
              name="name"
              id="userb{{ idx }}"
              value="{{ user.user_name }}"
              required
              [(ngModel)]="credentials.user_name"
            />
            <label for="userb{{ idx }}">
              <span class="btn btn-secondary">{{ user.user_name }}</span>
            </label>
          </li>
        </ul>
        <input
          type="password"
          name="password"
          [(ngModel)]="credentials.password"
          placeholder="enter your password"
        />

        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
      <div class="error" *ngIf="error">{{ error }}</div>
    </div>
  </div>
</div>
