<div *ngIf="error$ | async as error" class="error">
  An error occured
</div>

<div *ngIf="user$ | async as user">
  <p>
    Logged in as user <em>{{ user.user_name }}</em>
  </p>
  <button (click)="logOutUser()" class="btn btn-primary">Log out</button>
</div>

<hr />
<div *ngIf="user$ | async as user" class="row">
  <div class="col-md-6">
    <h3>Unassigned tasks</h3>
    <ul class="tasks unassigned">
      <li
        *ngFor="let task of tasks$ | async | taskFilter: filterUnassigned"
        (click)="assignTaskToUser(task.task_id)"
      >
        <button class="btn btn-success">
          add</button
        >{{ task.task_name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Tasks assigned to you</h3>
    <ul class="tasks assigned">
      <li
        *ngFor="
          let task of tasks$
            | async
            | taskFilter: { assigned_user_id: user.user_id }
        "
      >
        <button
          (click)="unAssignTaskFromUser(task.task_id)"
          class="btn btn-danger"
        >
          x</button
        >{{ task.task_name }}
      </li>
    </ul>
  </div>
</div>
