ul.tasks {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

ul.tasks li {
  margin-bottom: 8px;
  background: #eee;
  padding: 2px;
}
ul.tasks.unassigned li {
  cursor: pointer;
}
ul.tasks li button {
  margin-right: 8px;
  font-size: 12px;
  padding: 4px 7px;
}
ul.tasks li button.btn-danger {
  padding: 4px 10px;
}
