ul.users {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

ul.users input[type="radio"] {
  margin-right: 10px;
}

ul.users input[type="radio"]:checked + label span {
  background: #009933;
}

.error {
  background: #ff9999;
  margin: 20px 0 0 0;
  padding: 6px;
}